@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';

.navbar {
  @include flex(flex, row, wrap, center, center);
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);

  &__logo {
    @include flex(flex, row, wrap, flex-start, center);
    width: 30%;
    text-align: left;
    padding-left: 4%;
  }

  &__myplants {
    @include flex(flex, row, wrap, flex-start, flex-end);
  }
  &__isotipo {
    width: 8%;
    margin-right: 0.5rem;
  }

  &__logotipo {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 400;
  }

  &__menu {
    @include flex(flex, row, wrap, flex-end, center);
    width: 70%;
    text-align: right;
    padding-right: 8%;
  }

  &__link {
    color: $black-color;
    text-decoration: none;
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 50px;

    &:hover {
      border-bottom: 1px solid $black-color;
    }

    &--logo:hover {
      border-bottom: none;
    }
  }

  &__cart {
    height: 50px;

    &:hover {
      text-decoration: none !important;
    }

    &-number {
      position: relative;
      top: 1rem;
      left: 1.5rem;
      background-color: $white-color;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      text-align: center;
      font-size: 1rem;
    }
  }

  &__logout {
    @include btn-border($main-color, $black-color);
    font-size: 1.6rem;
    border-width: 1.9px;

    &:hover {
      @include btn-border($main-color, $white-color);
      font-size: 1.6rem;
      border-width: 1.9px;
    }
  }
  .dropdown-products {
    @include flex(flex, row, nowrap, space-between, align);

    .dropdown-price {
      padding-bottom: 0.5rem;
    }
  }
  .dropdown-button {
    @include btn($secondary-color, $white-color)
  }
}