@import '/src/assets/stylesheets/general_mixins.scss';
@import '/src/assets/stylesheets/variables.scss';


.condition {
  width: 25%;
  text-align: center;

  @media (max-width: 768px) {
    width: 90%;
  }

  &__circle {
    width: 75px;
    height: 75px;
    background-color: $secondary-color;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}